html {
    width: 100%;
    height: 100%;
} 

body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "JetBrains Mono", serif;
    background: #f2f2f2;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 450px 1fr;
    grid-template-rows: 1fr 300px 2fr;
}

.centered {
    color: #0f0f0f;
    border-radius: 20px;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    background-color: #ffffff;
    padding: 8px;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px 50px auto;
}

.title {
    font-size: x-large;
    justify-self: center;
    align-self: center;
}

.separator hr {
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    border-top: 2px solid #0f0f0f;
}

.buttons {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
}

.docs {
    border: none;
    background-color: #f2f2f2;
    cursor: pointer;
    padding: 10px 20px;
    font-family: "JetBrains Mono", serif;
    font-size: medium;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.docs:hover {
    background-color: #c5c5c5;
}
