<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FastAPI Backend Service</title>
    <link rel="icon" href="/static/local/favicon.ico">
    <link rel="stylesheet" href="/static/local/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="centered">
            <p class="title">FastAPI Backend Service</p>
            <div class="buttons">
                <button class="linkButton" onclick="location.href='/docs'">swagger</button>
                <button class="linkButton" onclick="location.href='/redoc'">redoc</button>
                <button class="linkButton" onclick="location.href='/openapi'">openapi</button>
            </div>
        </div>
    </div>
</body>
</html>
